@charset "utf-8";
@mixin empty-address{
  .empty-address {
    margin-left: 30px;
    border-bottom: 2px solid #E5E5E5;
    padding: 24px 30px 24px 0;
    font-size: 30px;
    color: #2F323A;
    img {
      vertical-align: middle;
    }
    .address-add {
      width: 46px;
      height: 46px;
      margin-right: 18px;
    }
    .address-arrow {
      float: right;
      width: 18px;
      height: 34px;
      margin-top: 6px;
    }
  }
}
@mixin address-li {
  li{
    &:nth-child(1){
      font-size: $fr4;
      color: $lightBlack;
    }
    &:nth-child(2){
      font-size: $fr5;
      color: #8A8C92;
      margin: .1rem auto .15rem;
    }
    &:nth-child(3){
      font-size: $fr3;
      color: $black;
      max-width: 8.5rem;
      font-weight: 700;
    }
  }
}
